<div id="cy"></div>

<div id="rest">

  <div class="rest-element">
    <h3>Add node</h3>
    <form [formGroup]="nodeAddForm" (ngSubmit)="onNodeAddFormSubmit()">
      <label>
        Name:
        <input type="text" class="form-control" formControlName="name">
      </label>
      <br>
      <button class="btn btn-info" type="submit">Add</button>
    </form>
  </div>

  <div class="rest-element">
    <h3>Add Edge</h3>
    <form [formGroup]="edgeAddForm" (ngSubmit)="onEdgeAddFormSubmit()">
      <label>
        Source:
        <input type="text" class="form-control" formControlName="source">
      </label>
      <br>
      <label>
        Target:
        <input type="text" class="form-control" formControlName="target">
      </label>
      <br>
      <button class="btn btn-info" type="submit">Add</button>
    </form>
  </div>

  <div class="rest-element">
    <button class="btn btn-success mr-2" (click)="onStart()">Start</button>
    <button class="btn btn-danger" (click)="onClear()">Clear</button>
  </div>

</div>

